#liveForm .kpl_builder .pageRepeater .neb-web-component, #liveForm
.kpl_builder .kpl-thankYouHolder .neb-web-component {
   margin-bottom: 20px !important;
}

@face-font {
      font-family: "Co Headline" !important;
      src: url
(“https://fonts.cdnfonts.com/css/co-headline”);
      } 


#liveForm .btn, #liveForm div > label, #liveForm div > span,
#liveForm .neb-select .neb-content.native-arrow select,#liveForm
.kpl_builder .kpl-thank-you .kpl-thankYouHolder
.thankYouPageLogoPreviewText {
     font-family: "Co Headline" !important;
}

#liveForm .native-display-value-in-rating{
font-family: "Co Headline" !important;
     } 

.myRatingsClass {
	--palette-action-active: #4455CC; /*selected, represents the background color of the element*/
	--palette-action-hover: #4455CC; /*hover/focus, represents the border of the highlighted element (Outline property)*/
	--palette-rating-custom-hover:#1C2346;  /*inner color on hover/focus*/
	--palette-rating-custom-selected: #1C2346; /*inner color on select*/ }
.myRatingsClass {
	--palette-rating-number-hover: #1C2346; /* border color (box-shadow property)*/
	--palette-rating-number-selected: #1C2346; /*background-color /*(inner color of the squares/circles)*/ }
	--palette-rating-number-text-hover: #1C2346; /* color of text during hover 
	--palette-rating-number-text-selected: #1C2346; /* color of text when selected
