#liveForm .kpl_builder .pageRepeater .neb-web-component, #liveForm
.kpl_builder .kpl-thankYouHolder .neb-web-component {
   margin-bottom: 20px !important;
}

@face-font {
      font-family: "Co Headline" !important;
      src: url
(“https://fonts.cdnfonts.com/css/co-headline”);
      } 


#liveForm .btn, #liveForm div > label, #liveForm div > span,
#liveForm .neb-select .neb-content.native-arrow select,#liveForm
.kpl_builder .kpl-thank-you .kpl-thankYouHolder
.thankYouPageLogoPreviewText {
     font-family: "Co Headline" !important;
}

#liveForm .native-display-value-in-rating{
font-family: "Co Headline" !important;
     } 

.neb-rating-html-implementation neb-rating .neb-rating.numbers
label.rating-label,
  .neb-rating-html-implementation neb-rating .neb-rating.numbersCircle
label.rating-label,
  .neb-rating-html-implementation neb-rating .neb-rating-numbersSquare
.neb-rating-value label.rating-label{
Border-radius: 70px !important;
}

div.LogoHeight20 .img-responsive {
max-Height: 20px !important;
} 
div.LogoHeight30 .img-responsive {
max-Height: 30px !important;
} 
div.LogoHeight31 .img-responsive {
max-Height: 31px !important;
} 
div.LogoHeight32 .img-responsive {
max-Height: 32px !important;
}  
div.LogoHeight33 .img-responsive {
max-Height: 33px !important;
}  
div.LogoHeight34 .img-responsive {
max-Height: 34px !important;
}  
div.LogoHeight35 .img-responsive {
max-Height: 35px !important;
}  
div.LogoHeight40 .img-responsive {
max-Height:40px !important;
}
