#liveForm .kpl_builder .pageRepeater .neb-web-component, #liveForm
.kpl_builder .kpl-thankYouHolder .neb-web-component {
   margin-bottom: 20px !important;
}

@face-font {
      font-family: "Co Headline" !important;
      src: url
(“https://fonts.cdnfonts.com/css/co-headline”);
      } 


#liveForm .btn, #liveForm div > label, #liveForm div > span,
#liveForm .neb-select .neb-content.native-arrow select,#liveForm
.kpl_builder .kpl-thank-you .kpl-thankYouHolder
.thankYouPageLogoPreviewText {
     font-family: "Co Headline" !important;
}

#liveForm .native-display-value-in-rating{
font-family: "Co Headline" !important;
     } 
[class*=control-label"] {
font-weight:bold !important;
}
