@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Hp2ywxg089UriCZOIHTWEBlw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


:root { 
   --typography-fontFamily:'DM Sans';
    --palette-core-primary: #6CC7F0; 
    --rating-squares-border-color: #ffffff;
    --powered-by-display: none;
    --questions-spacing: 10px;
    --palette-action-hover: none !important;
} 

html[lang="ar"] {
    direction: rtl; /* Set RTL direction for Arabic language */
    text-align: right; /* Aligns text to the right in RTL */
}


.surveyBtn {
    background-color: #6CC7F0;  
    text-align: center;
    white-space: nowrap;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    padding: 14px 30px;
    font-family: Readexpro,sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: background-color .2s;
    display: flex;
    }
.surveyBtn:hover {
background-color: #A1A1A1 !important; /* Ensure the background turns blue */
}


neb-rating .neb-rating span {
    outline: none;
}
.neb-rating span {
    outline: none;
}
.mobile-form-revamp.mobile-wcag-support neb-rating .neb-rating .neb-rating-value {
    border: none !important;
}

.CSATanchor{
 border: none !important;
 outline: none;
}

.CSATanchor span {
    background-color: #ffffff;
}

.CSATanchor span label {
    border: 1.5px solid rgba(0, 0, 0, 0.1); /* Keeps the border style */
    height: 40px;
    width: 40px;
    border-radius: 50%; /* Makes the label circular */
    display: flex; /* Ensures content is centered */
    align-items: center;
    justify-content: center;
}

.CSATanchor .fa-asterisk:before {
  content: '' !important;
}

.Commentanchor {   
margin-top: 20px;
}

.Textanchor {   
margin-bottom: 5px;
}


.logo {
    max-width: 50%; /* Adjust to your desired size */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Ensure it's displayed as a block element */
    margin-left: auto;
    margin-right: auto;
}


