
:root { 
    --palette-core-primary: #6CC7F0; 
    --rating-squares-border-color: #ffffff;
    --powered-by-display: none;
    --questions-spacing: 10px;
    --palette-action-hover: none !important;
} 

html[lang="ar"] {
    direction: rtl; /* Set RTL direction for Arabic language */
    text-align: right; /* Aligns text to the right in RTL */
}


.surveyBtn {
    background-color: #6CC7F0;  
    text-align: center;
    white-space: nowrap;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    padding: 14px 30px;
    font-family: Readexpro,sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: background-color .2s;
    display: flex;
    }
.surveyBtn:hover {
background-color: #A1A1A1 !important; /* Ensure the background turns blue */
}


neb-rating .neb-rating span {
    outline: none;
}
.neb-rating span {
    outline: none;
}
.mobile-form-revamp.mobile-wcag-support neb-rating .neb-rating .neb-rating-value {
    border: none !important;
}

.CSATanchor{
 border: none !important;
 outline: none;
}

.CSATanchor span {
    background-color: #ffffff;
}

.CSATanchor span label {
    border: 1.5px solid rgba(0, 0, 0, 0.1); /* Keeps the border style */
    height: 40px;
    width: 40px;
    padding-top: 3px !important;
    border-radius: 50%; /* Makes the label circular */
    display: flex; /* Ensures content is centered */
    align-items: center;
    justify-content: center;
}

.CSATanchor .fa-asterisk:before {
  content: '' !important;
}


.logo{
    height: 120px !important;
    width: 120px !important;
    margin-bottom: -50px;
    margin-top: -10px;
}

/* Resizing the logo */
fieldset div > img {
    height: 10px !important;
}
