
@font-face {
   font-family: CoHeading;
   src: url(https://mtrcs.io/fonts/Co_Headline.otf);
   font-weight: bold;
}



:root { 
    --palette-core-primary: #E06E0E; 
    --rating-squares-border-color: #ffffff;
    --powered-by-display: none;
    --typography-fontFamily: 'CoHeading';
} 

html[lang="ar"] {
    direction: rtl; /* Set RTL direction for Arabic language */
    text-align: right; /* Aligns text to the right in RTL */
}



.surveyBtn {
    background: #1C2346;
    border: none;
    font-size: 14px;
    border-radius: .5rem;
    display: inline-block;
    padding: 0 1rem !important;
    width: 380px;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.CSAT span {
    background-color: #ffffff;
    font-family: CoHeading !important;
}

.CSAT span label {
    border: 1.5px solid rgba(0, 0, 0, 0.1); /* Keeps the border style */
    height: 40px;
    width: 40px;
    padding-top: 3px !important;
    border-radius: 50%; /* Makes the label circular */
    font-size: 16px;
    display: flex; /* Ensures content is centered */
    align-items: center;
    justify-content: center;
}

.CSAT {
    --typography-headline-size: 16px;
    font-family: CoHeading !important;
}

.Opentextanchor {
    --typography-headline-size: 16px;
    font-family: CoHeading !important;
}

.CSAT .fa-asterisk:before {
  content: '' !important;
}

.logo{
    height: 150px !important;
    width: 150px !important;
}

/* Resizing the logo */
fieldset div > img {
    height: 10px !important;
}
