._2yfa6r-NFNu1ZDh8QO-2fD{
--palette-typography-body:#3E68D2;
   }
.text{
 font-size:25px;
 font-weight:600;
  }
 .csat1{
    margin-left:-40px;

      }
:root{
--palette-core-primary:#ffffff;
 }

@font-face{
    font-family: fontAwesome;
    src: url('https://assets.kampyle.com/ps/MedalliaDemo/fontawesome.woff2');
}
/* Thumbs Up & Down */
.Radio ul li{
    border: none;
}
.Radio ul li:hover{
    box-shadow:none !important;
}
.Radio ul li span:first-child{
    margin-top: 40px !important;
}
.Radio ul li label span:nth-child(2){
    display: none !important;
}

.Radio ul li label span:first-child:before{
    cursor:pointer;
    font-family:fontAwesome;
    font-size:xx-large !important;
    border: none;
    position: initial;
}

.Radio input:checked + label span:first-child:before,
.Radio input:checked + label span:first-child:after{
    background-color: transparent;
}

/* Yes */
.Radio ul li:first-child label span:first-child{
    margin-left: 140px;
}

.Radio ul li:first-child label span:first-child:before{
    content:"\f164" !important;
    /*background-image:url('https://alimabrouk.github.io/mtt/image/MTT%20thumbs%20up.png');*/
    padding: 2px 30px 1px 0px;
    background-repeat: no-repeat;
    border-radius: 0;
}
.Radio ul li:first-child:hover label span:first-child:before,
.Radio li:first-child input:checked + label span:before{
    content:"\f164" !important;
    /*background-image:url('https://alimabrouk.github.io/mtt/image/MTT%20thumbs%20up.png');*/
    color:blue;
    padding: 2px 30px 1px 0px;
    background-repeat: no-repeat;
    border-radius: 0;
}

/* No */
.Radio ul li:last-child label span:first-child{
    margin-left: 0px !important;
}
.Radio ul li:last-child label span:first-child:before{
    content: "\f165" !important;
    /*background-image:url("https://alimabrouk.github.io/mtt/image/Mtt%20thumbs%20down.png");*/
    padding: 5px 30px 10px 1px;
    background-repeat: no-repeat;
    border-radius: 0;
}
.Radio ul li:last-child:hover label span:first-child:before,
.Radio li:last-child input:checked + label span:before{
    content:"\f165" !important;
    /*background-image:url('https://alimabrouk.github.io/mtt/image/Mtt%20thumbs%20down.png');*/
    color:blue;
    padding: 5px 30px 10px 1px;
    background-repeat: no-repeat;
    border-radius: 0;
}
.yrjS9gZCXQkP8g1fbNivy{
position: absolute;
width: 22.5px;
height: 21.23px;
border:#ffffff ;
transform: matrix(-1, 0, 0, 1, 0, 0);
margin-left: -20px;
}

._1De-hWu2XrYnO5hnFIWYwJ {
width:180px;
border: 1.5px solid #39AC75;
border-radius: 20px;
}

.surveyBtn.surveyBtn_close { Display:none;}
._2BCbSBZTAy3NNEkchW4JAl{
    --palette-group-mark-background: #3E68D2;
    --palette-action-hover: #3E68D2;
    --palette-action-active: #3E68D2;
    --palette-rating-number-selected: #3E68D2;
    --palette-rating-number-hover: #3E68D2;
    --palette-rating-custom-selected: #3E68D2;
    --palette-rating-custom-hover: #3E68D2;
    --palette-core-outline: #ffffff;
    --palette-core-primary :#ffffff;
    --palette-typography-placeholder: #3A3541;
    --palette-typography-headline: #ffffff;
}

._37oPR5iD8dKjivrJy_y6Vq ._3_foUkwcSeMY2vBraukrvR, ._1_7PScJ_jiqe-TBSrlCh24 ._3_foUkwcSeMY2vBraukrvR{
    --palette-group-mark-background:#3E68D2;
    --palette-action-hover:#3E68D2;
    --palette-action-active:#3E68D2;
    --palette-rating-number-selected:#3E68D2;
    --palette-rating-number-hover:#3E68D2;
    --palette-rating-custom-selected:#3E68D2;
    --palette-rating-custom-hover:#3E68D2;
    --palette-core-outline:#3E68D2;


}

._1EpgFS91HygfIhhPEQrSz {
--palette-rating-custom-hover: #3E68D2;
--palette-rating-custom-selected: #3E68D2;
--palette-core-primary: #ffffff;
--palette-action-hover: #ffffff;
--palette-rating-custom-selected-outline: #3E68D2;
--palette-rating-custom-outline: #3E68D2;
position: absolute;
right: 97px;

}
._2wEE-RNoShvEqNpNB4ISFm {
max-width: 100%;
height: 15px; 

.logo img{
    height:15px;
}
.surveyBtn_close{
    display:none;
}
.surveyBtn_next{
    width:150px;
}
.surveyBtn_back{
    border: 1px solid #38AC75;
    width: 150px;
}
ul[role="group"] li{
    border:none !important;
}
ul[role="group"] li:first-child:hover,
ul[role="group"] li:last-child:hover{
    border-radius:0px !important;
}
