._1EpgFS91HygfIhhPEQrSz {
position: relative;
--palette-rating-custom-hover: #8129ed;
--palette-rating-custom-selected: #8129ed;
--palette-typography-body: #8129ed;
--palette-typography-placeholder: #8129ed;
--palette-core-primary: #8129ed;
}
