@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 200 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cairo/v28/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscRiyS8p4_RA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


.Text {
  font-family: 'Cairo' !important;
}

.LJ5dDI1qRFssk1ka4roCr ._2tHW0cyET9DNu6CMvxGOlL{
  width: auto;
}
 ._1gDWhTn4ItIcESRSxS5AuC{
 margin-bottom: -50px;
}

/*/ Submit button modification /*/
.surveyBtn.surveyBtn_submit {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0px;
font-size: 14px;
border: none;
font-size: 14px;
border-radius: 6px;
width: 130px; }

/*/ Next button modification /*/
.surveyBtn.surveyBtn_close{
display: inline-block;
padding: 6px 12px;
margin-bottom: 0px;
font-size: 14px;
border: none;
font-size: 14px;
border-radius: 6px;
width: 130px;
}

:root{
--typography-fontFamily:'Cairo';
--powered-by-display: none;
--questions-spacing: 15px;
--palette-rating-number-selected: #c7a979;
--palette-rating-number-hover: #252525;
--palette-action-hover : transparent;
--palette-typography-body: #1a1d20;
--palette-typography-headline: #1a1d20;
--palette-core-outline: #252525; 
--palette-core-primary: #ffffff}


.surveyX { 
  display: none; }
/*/ CSAT And NPS Alignement and Colors /*/


._1_7PScJ_jiqe-TBSrlCh24 ._3_foUkwcSeMY2vBraukrvR{
    width: 40px;
    height: 40px;
 }

.Ratings span label{
    height: 40px;
    width: 40px;
    padding-top: 5px !important;
    font-size: 14px;
}


.Ratingsanshor> div{
    text-align: center !important;
    display: initial;
    }

.Ratingsanshor> div > div{
    display: -webkit-inline-box;
    --palette-rating-custom-hover: #c7a979;
    --palette-rating-custom-selected: #c7a979;
    --palette-rating-custom-selected-outline: #252525;
    --palette-rating-custom-outline: #252525;
    display: flex;
    justify-content: center;
}
.CSAT1> div{
    text-align: center !important;
    display: initial;
    }


.CSAT1 > div > div{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.CSAT1 p.ratingMinLabel {
    text-align: center !important;
}

.CSAT1 p.ratingMaxLabel{
    text-align: center !important;
}

/*/ Logo width /*/

.logo{
max-width: 35%;  
margin-bottom: -10px; 
}

/*/ Choices sets Alignement and Colors /*/

.MCanchor > span > ul{
margin-top: 15px;
--palette-action-hover: #E06E0E;
--palette-core-primary: #E06E0E;
--palette-group-mark-background:#E06E0E;
--palette-rating-number-selected:#E06E0E;
--palette-core-primary:#E06E0E;
--palette-action-active:transparent;
--palette-core-outline: lightgray;
    min-width: auto;
    width: 350px;
    display: inline-flex !important ;
    flex-direction: column !important;
}



 /*/ Mobile displayform /*/
/*/ Logo width /*/


/* on mobile make form smaller to expose website underneath so it doesn't occupy the whole screen */
#liveForm .kpl_builder .kpl-live-mobile {
    border: none;
    box-shadow: none;
    height: 92% !important;
    width: 95% !important;
    margin-top: 27px;
}
