.Text {
  font-family: 'CoHeadlineTrial' !important;
  margin-top: 15px;
}

._1gDWhTn4ItIcESRSxS5AuC{
margin-bottom: -45px;
}


.LJ5dDI1qRFssk1ka4roCr ._2tHW0cyET9DNu6CMvxGOlL{
  width: auto;
}
 

/*/ Submit button modification /*/
.surveyBtn.surveyBtn_submit {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0px;
font-size: 14px;
border: none;
font-size: 14px;
border-radius: 6px;
width: 130px; }

/*/ Next button modification /*/
.surveyBtn.surveyBtn_close{
display: inline-block;
padding: 6px 12px;
margin-bottom: 0px;
font-size: 14px;
border: none;
font-size: 14px;
border-radius: 6px;
width: 130px;
}

:root{
--powered-by-display: none;
--questions-spacing: 15px;
--palette-rating-number-selected: #c7a979;
--palette-rating-number-hover: #252525;
--palette-action-hover : transparent;
--palette-typography-body: #1a1d20;
--palette-typography-headline: #1a1d20;
--palette-core-outline: #252525; 
--palette-core-primary: #ffffff}


.surveyX {color: white; }

form footer {
    margin-top: 10px;
}


/*/ CSAT And NPS Alignement and Colors /*/


._1_7PScJ_jiqe-TBSrlCh24 ._3_foUkwcSeMY2vBraukrvR{
    width: 40px;
    height: 40px;
 }

.CSAT1> div{
    text-align: center !important;
    display: initial;
    }


.CSAT1 > div > div{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.CSAT1 p.ratingMinLabel {
    text-align: center !important;
}

.CSAT1 p.ratingMaxLabel{
    text-align: center !important;
}

/*/ Logo width /*/

.logo{
max-width: 35%;  
margin-bottom: -10px; 
}

/*/ Choices sets Alignement and Colors /*/

.MCanchor > span > ul{
margin-top: 15px;
--palette-action-hover: #E06E0E;
--palette-core-primary: #E06E0E;
--palette-group-mark-background:#E06E0E;
--palette-rating-number-selected:#E06E0E;
--palette-core-primary:#E06E0E;
--palette-action-active:transparent;
--palette-core-outline: lightgray;
    min-width: auto;
    width: 350px;
    display: inline-flex !important ;
    flex-direction: column !important;
}



 /*/ Mobile displayform /*/
/*/ Logo width /*/


/* on mobile make form smaller to expose website underneath so it doesn't occupy the whole screen */
#liveForm .kpl_builder .kpl-live-mobile {
    border: none;
    box-shadow: none;
    height: 92% !important;
    width: 95% !important;
    margin-top: 27px;
}
