
.LJ5dDI1qRFssk1ka4roCr ._2tHW0cyET9DNu6CMvxGOlL{
  width: auto;
}

:root{
--powered-by-display: none;
--questions-spacing: 15px;
--palette-action-hover: #ffffff;
--palette-rating-number-selected: #c7a979;
--palette-rating-number-hover: #c7a979;
--palette-action-hover : #ffffff;
font-size: 16px}


.surveyX {--palette-core-outline: rgba(44, 53, 72, 0.56);
            color: #55b807 }

form footer {
    margin-top: 10px;
}


/*/ Logo width /*/

.Logo > div > img{
max-width: 50%;  
margin-bottom: 10PX; 
}

/*/ Stars Alignement and Colors /*/
.Ratingsanchor span label{
    height: 40px;
    width: 40px;
    padding-top: 5px !important;
}


.Ratingsanchor> div{
    text-align: center !important;
    display: initial;
    }

.Ratingsanchor> div > div{
    margin-top: 20px;
    --palette-rating-custom-hover: #c7a979;
    --palette-rating-custom-selected: #c7a979;
    --palette-core-primary: #ffffff;
    --palette-rating-custom-selected-outline: #c7a979;
    --palette-rating-custom-outline: #c7a979;
    display: flex;
    justify-content: center;
}

/*/ CSAT And NPS Alignement and Colors /*/


._1_7PScJ_jiqe-TBSrlCh24 ._3_foUkwcSeMY2vBraukrvR{
    width: 40px;
    height: 40px;
 }

.CSATanchor> div{
    text-align: center !important;
    display: initial;
    }


.CSATanchor > div > div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.CSATanchor p.ratingMinLabel {
    text-align: center !important;
}

.CSATanchor p.ratingMaxLabel{
    text-align: center !important;
}



.CSATanchor > div{
    text-align: center !important;
    display: initial;
    }

.CSATanchor > div > div{
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}


.NPSanchor:nth-child(2) > div {
    margin-top: 10px;
}

/*/ Choices sets Alignement and Colors /*/

.Text2{
   margin-bottom: 15px;
}

.MCanchor > span > ul{
    
margin-top: 10px;
--palette-action-hover: #c7a979;
--palette-core-primary: #c7a979;
--palette-group-mark-background:#c7a979;
--palette-rating-number-selected:#c7a979;
--palette-core-primary:#c7a979;
--palette-action-active:transparent;
--palette-core-outline: transparent;
}

.OTanchor > div{
margin-top: 10px;
--palette-action-hover: transparent;
}

.NPSanchor > div{
margin-top: 10px;
}

.OTanchor> label{
margin-top: 10px;
}


/*/ Section break alignment /*/

.SB> div{
margin-top:15px;
margin-bottom:15px;
}

/*/ Hide close button from all pages /*/

.surveyBtn.surveyBtn_close { Display:none;}

/*/ Submit button modification /*/
.surveyBtn.surveyBtn_submit {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0px;
font-size: 14px;
border: none;
font-size: 14px;
border-radius: 6px;
width: 130px; }

/*/ Submit button modification /*/
.surveyBtn.surveyBtn_back{
display: inline-block;
padding: 6px 12px;
margin-bottom: 0px;
font-size: 14px;
border: none;
font-size: 14px;
border-radius: 6px;
width: 130px;
}
/*/ Next button modification /*/
.surveyBtn.surveyBtn_next{
display: inline-block;
padding: 6px 12px;
margin-bottom: 0px;
font-size: 14px;
border: none;
font-size: 14px;
border-radius: 6px;
width: 130px;
}

 /*/ Mobile displayform /*/
/*/ Logo width /*/

.mobile form .Ratingsanchor{
    margin-top: 130px;
    --typography-headline-size: 18px;
    text-align: center !important;
}

.mobile form .CSATanchor{
     margin-top: 100px;
     --typography-headline-size: 18px;
     text-align: center !important;
}


.mobile form .CSATanchor{
    margin-top: 10px;
    --typography-headline-size: 16px;
}

.mobile form .NPSanchor{
    --typography-headline-size:18px;
}

.mobile form .NPSanchor span label{
    height: 40px;
    width: 40px;
}

.mobile form .OTanchor{
    --typography-headline-size:18px;
 }

  .mobile form .MCanchor{
    --typography-headline-size:18px;
 }
.mobile form .Text1{
    margin-top: 100px;
}

.mobile form .Text2{
   text-align: center !important;
}
.mobile form .surveyBtn.surveyBtn_back{
    font-size: 16px;
}
.mobile form .surveyBtn.surveyBtn_next{
    font-size: 16px;
}

.mobile form ._37oPR5iD8dKjivrJy_y6Vq ._3_foUkwcSeMY2vBraukrvR{
font-size:10px }

/* on mobile make form smaller to expose website underneath so it doesn't occupy the whole screen */
#liveForm .kpl_builder .kpl-live-mobile {
    border: none;
    box-shadow: none;
    height: 92% !important;
    width: 95% !important;
    margin-top: 27px;
}
