
:root { --palette-core-primary: #E06E0E; } 


@font-face {
   font-family: CoHeading;
   src: url(https://mtrcs.io/fonts/Co_Headline.otf);
   font-weight: bold;
}

:root{	--typography-fontFamily: CoHeading; } 
:root{ --typography-headline-size: 15px; /* Label font size */ }



span {
  font-family: CoHeading !important;
}


.CSAT span{
    background-color: #ffffff;
}

.CSAT span label{
    border: 1.5px solid #0000001A;
    height: 40px;
    width: 40px;
    padding-top: 5px !important;
}


/* Form Padding */
form main > :not(div:nth-child(1)){
    padding: 24px 24px
}
