:root { 
    --palette-core-primary: #E06E0E; 
    --rating-squares-border-color: #ffffff;
    --survey-padding: 0px;
} 

@font-face {
   font-family: CoHeading;
   src: url(https://mtrcs.io/fonts/Co_Headline.otf);
   font-weight: bold;
}

:root{  --typography-fontFamily: CoHeading; } 
:root{ --typography-headline-size: 15px; /* Label font size */ }

.Text1 {
  font-family: CoHeading !important;
}

span {
  font-family: CoHeading !important;
}

.surveyBtn.surveyBtn_submit{
background : #E06E0E;
display: inline-block;
margin-bottom: 0px;
font-size: 14px;
border-radius: 6px; 
}

.CSAT {
font-weight:bold !important;
}

.CSAT span{
    background-color: #ffffff;
}

.CSAT span label{
    border: 1.5px solid #0000001A;
    height: 40px;
    width: 40px;
    padding-top: 5px !important;
}

.Text {
    background-color: #1C2346; /* Replace with your desired background color */
    color: #FFFFFF; /* Set text color to ensure readability */
    border: 2px solid #1C2346; /* Border color and style */
}


/* Form Padding */
form main > :not(div:nth-child(1)){
    padding: 24px 24px
}
