@font-face {
	font-family: 'FS Albert Arabic';
	src: url(https://www.roshn.sa/assets/roshn/fonts/FSAlbertArabic-Regular.woff2);
    font-style: normal;
}
:root{
	--typography-fontFamily: 'FS Albert Arabic'; }
:root{
--powered-by-display: none;
--palette-action-hover:#ffffff
--questions-spacing: 1px;}


.surveyX {--palette-core-outline: #212121 }

form footer {
    margin-top: 10px;
}


/*/ Logo width /*/

.Logo > div > img{
max-width: 50%;  
margin-bottom: 10PX; 
}

/*/ Stars Alignement and Colors /*/
.Ratings span label{
    height: 40px;
    width: 40px;
    padding-top: 5px !important;
    font-size: 14px;
}

.Ratings> div{
    text-align: center !important;
    display: initial;
    }

.Ratings> div > div{
    margin-top: 20px;
    --palette-action-hover: #ffffff;
    --palette-rating-custom-hover: #DAA520;
    --palette-rating-custom-selected: #DAA520;
    --palette-core-primary: #ffffff;
    --palette-rating-custom-selected-outline: #ffffff;
    --palette-rating-custom-outline: #FFD55C;
    display: flex;
    justify-content: center;
}

/*/ Choices sets Alignement and Colors /*/


.Dropdown > div{
margin-bottom: 20px;
--palette-action-hover: transparent;
}

.Dropdown > div > div{
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.Ratings > div > div{
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.Comment > div > div{
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
/*/ Submit button modification /*/
.surveyBtn.surveyBtn_submit {
display: inline-block;
padding: 16px 24px 16px 24px;
margin-bottom: 0px;
font-size: 14px;
border: none;
font-size: 14px;
border-radius: 50px;
width: 380px;
height: 40px}

/*/ Submit button modification /*/
.surveyBtn.surveyBtn_close{
display: inline-block;
padding: 16px 24px 16px 24px;
margin-bottom: 0px;
font-size: 14px;
border: solid;
border-color:#3f5277;
font-size: 14px;
border-radius: 50px;
width: 380px;
height: 40px}

._207sw0FPxzBQQBPqaDdUpd {
    display: flex;
    margin: 16px 0;
    flex-flow: row nowrap;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
}

._207sw0FPxzBQQBPqaDdUpd > div{
   max-width: 100%;
}

 /*/ Mobile displayform /*/
/*/ Logo width /*/

.mobile form .Ratings{
    margin-top: 130px;
    --typography-headline-size: 18px;
    text-align: center !important;
}



.mobile form .Dropdown{
    --typography-headline-size:18px;
 }

.mobile form .Comment{
    margin-top: 100px;
}


.mobile form .surveyBtn.surveyBtn_back{
    font-size: 16px;
}
.mobile form .surveyBtn.surveyBtn_next{
    font-size: 16px;
}

.mobile form ._37oPR5iD8dKjivrJy_y6Vq ._3_foUkwcSeMY2vBraukrvR{
font-size:10px }

/* on mobile make form smaller to expose website underneath so it doesn't occupy the whole screen */
#liveForm .kpl_builder .kpl-live-mobile {
    border: none;
    box-shadow: none;
    height: 92% !important;
    width: 95% !important;
    margin-top: 27px;
}





