@font-face {
    font-family: 'FS Albert Arabic';
    src: url(https://www.roshn.sa/assets/roshn/fonts/FSAlbertArabic-Regular.woff2);
    font-style: normal;
}

:root { 
    --palette-core-primary: #DAA520; 
    --rating-squares-border-color: #ffffff;
    --typography-fontFamily: "FS Albert Arabic";
    --typography-headline-size: 24px; /* Label font size */
    --questions-spacing: 14px;

 
} 

.surveyBtn /* submit button */
.ratingMinLabel, .ratingMaxLabel /* represents custom scale labels for rating components*/


span {
    font-family: "FS Albert Arabic" !important;
}

.surveyBtn{
    background: #DAA520;
    border: none;
    font-size: 14px;
    border-radius: 6px; 
}
 
.NPS span{
    background-color: #ffffff;
  
}



.NPS span label {
    border: 8px solid rgba(0, 0, 0, 0.1); /* Changed to valid border color */
    border-radius: 4px; /* Corrected radius property to border-radius */
    height: 32px;
    width: 32px;
    padding-top: 8px !important;
    font-size: 16px;
}


.NPS span{
    background-color: #ffffff;
}

.NPS{
    --typography-headline-size: 16px;
}

.Text{
    --typography-headline-size: 16px;
}

.Dropdown{
    --typography-headline-size: 16px;
}




/* Resizing the logo */
fieldset div > img{
    height: 50px !important;
}
