:root{ --typography-headline-size: 20px; /* Label font size */ }


.CSAT1 {
	--palette-rating-number-hover: #F9FF33; /* border color (box-shadow property)*/
	--palette-rating-number-selected: #F9FF33; /*background-color /*(inner color of the squares/circles)*/ }
	--palette-rating-number-text-hover: #F9FF33; /* color of text during hover 
	--palette-rating-number-text-selected: #F9FF33; /* color of text when selected
