@font-face {
font-family: Neo Sans Arabic;
src: url("https://fonts.cdnfonts.com/s/29926/Neo Sans Arabic Regular.woff") format("woff");
    }
    
:root{
	--typography-fontFamily: ' Neo Sans Arabic', sans-serif;


:root{ --typography-headline-size: 20px; /* Label font size */ }

.csat {
	--palette-rating-number-hover: #C4C4C1; /* border color (box-shadow property)*/
	--palette-rating-number-selected: #C4C4C1; /*background-color /*(inner color of the squares/circles)*/ }
	--palette-rating-number-text-hover: #C4C4C1; /* color of text during hover 
	--palette-rating-number-text-selected: #C4C4C1; /* color of text when selected
