:root{ --typography-headline-size: 15px; /* Label font size */ }


.CSAT1 {
	--palette-rating-number-hover: #1C2346; /* border color (box-shadow property)*/
	--palette-rating-number-selected: #1C2346; /*background-color /*(inner color of the squares/circles)*/ 
	--typography-body-size: 9px; 
        --_1_7PScJ_jiqe-TBSrlCh24 _2TkJeZkePnY06emJr8c4t2: 59px;}
	--palette-rating-number-text-hover: #1C2346; /* color of text during hover 
	--palette-rating-number-text-selected: #1C2346; /* color of text when selected


