@font-face {
    font-family: Dechorian;
    src: url(''https://fonts.cdnfonts.com/css/dechorian');
    }
    
:root{
	--typography-fontFamily: 'Dechorian', sans-serif;
}


:root{ --typography-headline-size: 22px; /* Label font size */ }

:root
{   --powered-by-display: none; }

.csat {
	--palette-rating-number-hover: #1C2346; /* border color (box-shadow property)*/
	--palette-rating-number-selected: #1C2346; /*background-color /*(inner color of the squares/circles)*/ 
	--palette-rating-number-text-hover: #1C2346; /* color of text during hover 
	--palette-rating-number-text-selected: #1C2346; /* color of text when selected 
}

#liveForm .kpl_builder .pageRepeater .neb-web-component, #liveForm
.kpl_builder .kpl-thankYouHolder .neb-web-component {
   margin-bottom: 20px !important;
}


