._1De-hWu2XrYnO5hnFIWYwJ {
width:180px;
border: 1.5px solid #39AC75;
border-radius: 20px;
}

.surveyBtn.surveyBtn_close { Display:none;}
._2BCbSBZTAy3NNEkchW4JAl{
    --palette-group-mark-background: #3E68D2;
    --palette-action-hover: #3E68D2;
    --palette-action-active: #3E68D2;
    --palette-rating-number-selected: #3E68D2;
    --palette-rating-number-hover: #3E68D2;
    --palette-rating-custom-selected: #3E68D2;
    --palette-rating-custom-hover: #3E68D2;
    --palette-core-outline: #ffffff;
    --palette-core-primary :#ffffff;
    --palette-typography-placeholder: #3A3541;
    --palette-typography-headline: #ffffff;
}

._37oPR5iD8dKjivrJy_y6Vq ._3_foUkwcSeMY2vBraukrvR, ._1_7PScJ_jiqe-TBSrlCh24 ._3_foUkwcSeMY2vBraukrvR{
    --palette-group-mark-background:#3E68D2;
    --palette-action-hover:#3E68D2;
    --palette-action-active:#3E68D2;
    --palette-rating-number-selected:#3E68D2;
    --palette-rating-number-hover:#3E68D2;
    --palette-rating-custom-selected:#3E68D2;
    --palette-rating-custom-hover:#3E68D2;
    --palette-core-outline:#3E68D2;


}

._1EpgFS91HygfIhhPEQrSz {
--palette-rating-custom-hover: #3E68D2;
--palette-rating-custom-selected: #3E68D2;
--palette-core-primary: #ffffff;
--palette-action-hover: #ffffff;
--palette-rating-custom-selected-outline: #3E68D2;
--palette-rating-custom-outline: #3E68D2;
position: absolute;
right: 97px;

}
._2wEE-RNoShvEqNpNB4ISFm {
max-width: 100%;
height: 15px; 

.logo img{
    height:15px;
}
.surveyBtn_close{
    display:none;
}
.surveyBtn_next{
    width:150px;
}
.surveyBtn_back{
    border: 1px solid #38AC75;
    width: 150px;
}
ul[role="group"] li{
    border:none !important;
}
ul[role="group"] li:first-child:hover,
ul[role="group"] li:last-child:hover{
    border-radius:0px !important;
}
.ltrboxscale label{
    border-radius: 10px !important;
    height:40px !important;
    width:30px !important;
    border-color:blue !important;
}
