@font-face {
font-family: Neo Sans Arabic;
src: url("https://fonts.cdnfonts.com/s/29926/Neo Sans Arabic Regular.woff") format("woff");
    }
    
:root{
	--typography-fontFamily: ' Neo Sans Arabic', sans-serif;


:root{ --typography-headline-size: 20px; /* Label font size */ }

.CSAT1 {
	--palette-action-active: #4455CC; /*selected, represents the background color of the element*/
	--palette-action-hover: #4455CC; /*hover/focus, represents the border of the highlighted element (Outline property)*/
	--palette-rating-custom-hover:#F9FF33;  /*inner color on hover/focus*/
	--palette-rating-custom-selected: #F9FF36; /*inner color on select*/ }
