._2tHW0cyET9DNu6CMvxGOlL p:last-of-type {
    text-align: right;
    margin-right: 21px !important;
}
._207sw0FPxzBQQBPqaDdUpd{
    margin-left: 100px !important;
}
.LJ5dDI1qRFssk1ka4roCr {
    display: inline-block;
    margin-left: 100px !important;
    margin-top: 22px !important;
}

._37oPR5iD8dKjivrJy_y6Vq ._3_foUkwcSeMY2vBraukrvR, ._1_7PScJ_jiqe-TBSrlCh24 ._3_foUkwcSeMY2vBraukrvR {
    width: 33px;
    height: 33px;
    border-radius: 49px;
    border-width: 2px;
    color: var(--palette-rating-number-text);
    margin-right: 30px !important;
}

@face-font {
      font-family: "Co Headline" !important;
      src: url
("https://newmetricssandbox.eu.qualtrics.com/ControlPanel/File.php?F=F_8KGqK9AgAafEY9M&download=1");
      } 

._1SPV2GZjz0ekDKiu5qBJ16{
background-color:#1C2346 !important;
height: 16% !important;
}

._1skeebC0BUOnSt-Lb8uDda ._1YsDAuTgzg-TJThBFYa0LN:after, ._37oPR5iD8dKjivrJy_y6Vq ._1YsDAuTgzg-TJThBFYa0LN, ._1_7PScJ_jiqe-TBSrlCh24 ._1YsDAuTgzg-TJThBFYa0LN{
background-color: #E06E0E;
}
._1_7PScJ_jiqe-TBSrlCh24 _2TkJeZkePnY06emJr8c4t2 {
display: inline-block !important;
width: 200px;}

:root{	--typography-fontFamily: Co Headline; } 
:root{ --typography-headline-size: 15px; /* Label font size */ }


.CSAT1 {
	--palette-rating-number-hover: #1C2346; /* border color (box-shadow property)*/
	--palette-rating-number-selected: #1C2346; /*background-color /*(inner color of the squares/circles)*/ 
	--typography-body-size: 12px; }
	--palette-rating-number-text-hover: #1C2346; /* color of text during hover 
	--palette-rating-number-text-selected: #1C2346; /* color of text when selected
}


