.Ratingsanshor> div{
    text-align: center !important;
    display: initial;
    }

.Ratingsanshor> div > div{
    margin-top: 20px;
    --palette-rating-custom-hover: #468077;
    --palette-rating-custom-selected: #468077;
    --palette-core-primary: #ffffff;
    --palette-rating-custom-selected-outline: #ffffff;
    --palette-rating-custom-outline: #8cb0ab;
    display: flex;
    justify-content: center;
}

.Ratingsanshor > div > div:hover {
--palette-rating-custom-outline: #007e97;
}

.Ratingsanshor > div > div{
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
