

/*/ Submit button modification /*/
.surveyBtn.surveyBtn_submit {
display: inline-block;
line-height: 1.25;
padding: 0 1rem !important;
font-size: 14px #2596be;
border: 2px solid ;
font-size: 14px;
border-radius: 40px;
transition: all 0.32s ease-in-out;
padding: 0px 1rem !important;}

.surveyBtn.surveyBtn_submit:hover {
background-color: #000000 !important; /* Ensure the background turns blue */
}


/*/ Next button modification /*/
surveyBtn.surveyBtn_close {
display: inline-block;
line-height: 1.25;
padding: 0 1rem !important;
font-size: 14px #2596be;
border: 2px solid ;
font-size: 14px;
border-radius: 40px;
transition: all 0.32s ease-in-out;
padding: 0px 1rem !important;}

.surveyBtn.surveyBtn_close:hover {
background-color: #000000 !important; /* Ensure the background turns blue */
}

border: 1px solid #C7A979;
}

:root{
--typography-fontFamily:'Cairo';
--powered-by-display: none;
--questions-spacing: 5px;
--palette-rating-number-selected: #468077;
--palette-rating-number-hover: #468077;
--palette-action-hover : transparent;
--palette-typography-body: #468077;
--palette-typography-headline: #468077;
--palette-core-outline: #468077; 
--palette-core-primary: #ffffff}


.surveyX { 
  display: none; }
/*/ CSAT And NPS Alignement and Colors /*/



.Ratingsanshor> div{
    text-align: center !important;
    display: initial;
    }


.Ratingsanshor> div > div{
    display: -webkit-inline-box;
    --palette-rating-custom-hover: #468077;
    --palette-rating-custom-selected: #468077;
    --palette-rating-custom-selected-outline: #ffffff;
    --palette-rating-custom-outline: #8cb0ab;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: color 0.2s ease;
    --palette-core-components: #ffffff;
}

/* Apply hover effect to the hovered star */
.Ratingsanshor > div > div:hover{

    --palette-rating-custom-outline: transparent;

}



.Ratingsanshor p.ratingMinLabel {
    text-align: center !important;
}

.Ratingsanshor p.ratingMaxLabel{
    text-align: center !important;
}

html[lang="ar"] .Ratingsanshor> div > div{
    direction: rtl;
}



.mediumSurvey ._37oPR5iD8dKjivrJy_y6Vq ._3_foUkwcSeMY2vBraukrvR{
border-radius: 1px;
}

.directionRightToLeft .LJ5dDI1qRFssk1ka4roCr ._3_foUkwcSeMY2vBraukrvR:first-child{
margin-left: unset;
margin-left: 10px;
}


.LJ5dDI1qRFssk1ka4roCr ._2tHW0cyET9DNu6CMvxGOlL{
    width: auto;
}


/*/ Logo width /*/

.logo{
max-width: 35%;  
margin-bottom: -10px; 
}




 /*/ Mobile displayform /*/
/*/ Logo width /*/


/* on mobile make form smaller to expose website underneath so it doesn't occupy the whole screen */
#liveForm .kpl_builder .kpl-live-mobile {
    border: none;
    box-shadow: none;
    height: 92% !important;
    width: 95% !important;
    margin-top: 27px;
}






