._2wEE-RNoShvEqNpNB4ISFm {
max-width: 60%;
margin-bottom: 10px;
}


form footer {
margin-top: 0px;
}

._2x6S50Ozibu2fOMgF5qDzt p {
color: #e83f4b;
}
:root{
--powered-by-display: none;
--questions-spacing: 5px;
--palette-rating-number-selected: #11b58e;
--palette-rating-number-hover: #2596be;
--palette-action-hover : transparent;
--palette-core-outline: #2596be; 
--palette-core-primary: #ffffff;}

/*/ Submit button modification /*/
.surveyBtn.surveyBtn_submit {
display: inline-block;
padding: 6px 12px;
font-size: 14px;
border-radius: 40px;
border: 2px solid #2596be;
transition: all 0.32s ease-in-out;}

.surveyBtn.surveyBtn_submit:hover {
background-color: #11b58e !important; /* Ensure the background turns blue */
}

/*/ Submit button modification /*/
.surveyBtn.surveyBtn_close {
display: inline-block;
padding: 6px 12px;
font-size: 14px;
border-radius: 40px;
border: 2px solid #2596be;
transition: all 0.32s ease-in-out;}

.surveyBtn.surveyBtn_close:hover {
background-color: #11b58e !important; /* Ensure the background turns blue */
}

.surveyX { 
  display: none; }
/*/ CSAT And NPS Alignement and Colors /*/


._1_7PScJ_jiqe-TBSrlCh24 ._3_foUkwcSeMY2vBraukrvR{
    width: 40px;
    height: 40px;
 }

.Ratings span label{
    height: 40px;
    width: 40px;
    padding-top: 5px !important;
    font-size: 14px;
}


.Ratingsanshor> div{
    text-align: center !important;
    display: initial;
    }


.Ratingsanshor> div > div{
    display: -webkit-inline-box;
    --palette-rating-custom-hover: #11b58e;
    --palette-rating-custom-selected: #11b58e;
    --palette-rating-custom-selected-outline: #11b58e;
    --palette-rating-custom-outline: #11b58e;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: color 0.2s ease;
}

/* Apply hover effect to the hovered star */
.Ratingsanshor > div > div:hover{

    --palette-rating-custom-outline: transparent;

}



.Ratingsanshor p.ratingMinLabel {
    text-align: center !important;
}

.Ratingsanshor p.ratingMaxLabel{
    text-align: center !important;
}

html[lang="ar"] .Ratingsanshor> div > div{
    direction: rtl;
}


.mediumSurvey ._37oPR5iD8dKjivrJy_y6Vq ._3_foUkwcSeMY2vBraukrvR{
border-radius: 1px;
}

.directionRightToLeft .LJ5dDI1qRFssk1ka4roCr ._3_foUkwcSeMY2vBraukrvR:first-child{
margin-left: unset;
margin-left: 10px;
}


.LJ5dDI1qRFssk1ka4roCr ._2tHW0cyET9DNu6CMvxGOlL{
    width: auto;
}



/* on mobile make form smaller to expose website underneath so it doesn't occupy the whole screen */
#liveForm .kpl_builder .kpl-live-mobile {
    border: none;
    box-shadow: none;
    height: 92% !important;
    width: 95% !important;
    margin-top: 27px;
}






